

body {
    margin: 0;
    font-size: 1.5rem;
}

.game-preparation-container {
    text-align: center;
}

.player-panels-container {
    height: 130px;
    background-color: hsl(148, 100%, 85%);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.player-one-panel-container,
.player-two-panel-container {
    width: 150px;
    padding: 10px;
    background-color: hsl(305, 23%, 57%);
}

.name {
    font-weight: 900;
    margin-bottom: 10px;
}

.player1-is-AI-btn,
.player2-is-AI-btn {
    font-size: 1rem;
    width: 80%;
    padding: 5px;
    margin-top: 10px;
}

.player1-is-AI-btn:hover,
.player2-is-AI-btn:hover {
    background-color: lightgrey;
}

.start-game-btn {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: hsl(175, 29%, 77%);
}

.start-game-btn:hover {
    background-color: hsl(175, 29%, 70%);

}

.gameboard {
    background-color: black;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 3px;
}

.gameboard-cell {
    background-color: hsl(159, 90%, 92%);
    box-sizing: border-box;
    font-size: 110px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-game-container,
.players-turn-msg {
    margin-top: 30px;
    text-align: center;
}

.play-again-btn {
    margin-top: 30px;
    background-color: hsl(300, 17%, 68%);
}

.play-again-btn:hover {
    background-color: hsl(300, 17%, 60%);
}

.start-game-btn,
.play-again-btn {
    padding: 10px;
    font-size: 1.5rem;
}

button {
    border: none;
    border-radius: 5px;
}